.about {
	width: 600px;
	margin: 0 auto;
	max-width: 100%;
	padding: 10px 10%;
}
ul.list-social-media {
	margin-top: 20px;
	li {
		display: inline-block;
		background-color: #6c7a89;
		color: #fff;
		margin-right: 5px;
		padding: 7px 6%;
		border-radius: 100px;
	}
}
